.App {
  text-align: center;
}

.pagination-bar {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 6px;
}

.card-image {
  margin-left: 30px;
}
