.FormInput {
  margin-bottom: 1rem;
}

.FormInput label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 14px;
}

.FormInput .input-field {
  width: 30%;
  font-size: 1rem;
}
